
@{
    ViewBag.Title = "Display";
}

@Styles.Render("~/Content/main")
@Styles.Render("~/Content/DarkMode")

<main id="content" style="margin-left: 50px; margin-top: 70px;">
    <section id="display">
        <div class="display-wrapper">
            <div class="display-container">
                <div class="display-header justify-content-between align-items-center">
                    <div class="ms-2 d-flex align-items-center">
                        <span class="">Display Mode</span>
                        <div class="ms-4">
                            <button class="border-0 bg-dark text-white ps-3 pe-3 pt-2 pb-2">None</button>
                            <button class="border-0 bg-dark text-white ps-3 pe-3 pt-2 pb-2">Section Box</button>
                            <button class="border-0 bg-dark text-white ps-3 pe-3 pt-2 pb-2">Elevation</button>
                            <button class="border-0 bg-dark text-white ps-3 pe-3 pt-2 pb-2">Level Plan</button>
                            <a href="#"><i class="bi bi-rulers"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="~/Scripts/main.js"></script>

