
@{
    ViewBag.Title = "Status";
}

@Styles.Render("~/Content/main")
@Styles.Render("~/Content/DarkMode")

<main id="content" style="margin-left: 50px; margin-top: 70px;">
    <section id="status">
        <div class="status-wrapper">
            <div class="status-container">
                <div class="status-header justify-content-between">
                    <div class="ms-2">
                        <span>Model Attribute</span>
                    </div>
                </div>
                <div class="status-body d-flex flex-column">
                    <div class="ms-5 mt-4 mb-1">
                        <span><b>Name: </b><span></span>N005</span>
                    </div>
                    <div class="table-container ms-5 mt-3 me-5">
                        <table class="table" id="status-table">
                            <tbody>
                                <tr>
                                    <th>Type</th>
                                    <td>GL</td>
                                </tr>
                                <tr>
                                    <th>ID</th>
                                    <td>000000</td>
                                </tr>
                                <tr>
                                    <th>Locate</th>
                                    <td>2F-E-Arc</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>未安裝</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ms-5 mt-4 mb-1">
                        <span><b>Name: </b><span></span>N005</span>
                    </div>
                    <div class="table-container ms-5 mt-3 me-5">
                        <table class="table" id="status-table">
                            <tbody>
                                <tr>
                                    <th>Type</th>
                                    <td>GL</td>
                                </tr>
                                <tr>
                                    <th>ID</th>
                                    <td>000000</td>
                                </tr>
                                <tr>
                                    <th>Locate</th>
                                    <td>2F-E-Arc</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>未安裝</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="ms-5 mt-4 mb-1">
                        <span><b>Name: </b><span></span>N005</span>
                    </div>
                    <div class="table-container ms-5 mt-3 me-5">
                        <table class="table" id="status-table">
                            <tbody>
                                <tr>
                                    <th>Type</th>
                                    <td>GL</td>
                                </tr>
                                <tr>
                                    <th>ID</th>
                                    <td>000000</td>
                                </tr>
                                <tr>
                                    <th>Locate</th>
                                    <td>2F-E-Arc</td>
                                </tr>
                                <tr>
                                    <th>Status</th>
                                    <td>未安裝</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="~/Scripts/main.js"></script>
