
@{
    ViewBag.Title = "ModelLibrary";
}

@Styles.Render("~/Content/main")
@Styles.Render("~/Content/DarkMode")

<main id="content" style="margin-left: 50px; margin-top: 70px;">
    <section id="model-library">
        <div class="library-wrapper">
            <div class="library-container flex-column">
                <div class="library-header">
                    <span>Categories</span>
                </div>
                <div class="library-body">
                    <div class="library-content-add" id="add">
                        <a href="#" class="library-add"><i class="bi bi-plus-lg"></i></a>
                        <a href="#"><img src=""></a>
                    </div>
                    <div class="library-content">
                        <a href="#"><img src=""></a>
                        <a href="#" class="library-user"><i class="bi bi-person-square"></i> Jerry</a>
                        <a href="#" class="library-like"><i class="bi bi-star"></i></a>
                        <a href="#" class="library-download"><i class="bi bi-download"></i></a>
                    </div>
                    <div class="library-content">
                        <a href="#"><img src=""></a>
                        <a href="#" class="library-user"><i class="bi bi-person-square"></i> Jerry</a>
                        <a href="#" class="library-like"><i class="bi bi-star"></i></a>
                        <a href="#" class="library-download"><i class="bi bi-download"></i></a>
                    </div>
                    <div class="library-content">
                        <a href="#"><img src=""></a>
                        <a href="#" class="library-user"><i class="bi bi-person-square"></i> Jerry</a>
                        <a href="#" class="library-like"><i class="bi bi-star"></i></a>
                        <a href="#" class="library-download"><i class="bi bi-download"></i></a>
                    </div>
                    <div class="library-content">
                        <a href="#"><img src=""></a>
                        <a href="#" class="library-user"><i class="bi bi-person-square"></i> Jerry</a>
                        <a href="#" class="library-like"><i class="bi bi-star"></i></a>
                        <a href="#" class="library-download"><i class="bi bi-download"></i></a>
                    </div>
                    <div class="library-content">
                        <a href="#"><img src=""></a>
                        <a href="#" class="library-user"><i class="bi bi-person-square"></i> Jerry</a>
                        <a href="#" class="library-like"><i class="bi bi-star"></i></a>
                        <a href="#" class="library-download"><i class="bi bi-download"></i></a>
                    </div>
                    <div class="library-content">
                        <a href="#"><img src=""></a>
                        <a href="#" class="library-user"><i class="bi bi-person-square"></i> Jerry</a>
                        <a href="#" class="library-like"><i class="bi bi-star"></i></a>
                        <a href="#" class="library-download"><i class="bi bi-download"></i></a>
                    </div>
                    <div class="library-content">
                        <a href="#"><img src=""></a>
                        <a href="#" class="library-user"><i class="bi bi-person-square"></i> Jerry</a>
                        <a href="#" class="library-like"><i class="bi bi-star"></i></a>
                        <a href="#" class="library-download"><i class="bi bi-download"></i></a>
                    </div>
                    <div class="library-content">
                        <a href="#"><img src=""></a>
                        <a href="#" class="library-user"><i class="bi bi-person-square"></i> Jerry</a>
                        <a href="#" class="library-like"><i class="bi bi-star"></i></a>
                        <a href="#" class="library-download"><i class="bi bi-download"></i></a>
                    </div>
                    <div class="library-content">
                        <a href="#"><img src=""></a>
                        <a href="#" class="library-user"><i class="bi bi-person-square"></i> Jerry</a>
                        <a href="#" class="library-like"><i class="bi bi-star"></i></a>
                        <a href="#" class="library-download"><i class="bi bi-download"></i></a>
                    </div>
                    <div class="library-content">
                        <a href="#"><img src=""></a>
                        <a href="#" class="library-user"><i class="bi bi-person-square"></i> Jerry</a>
                        <a href="#" class="library-like"><i class="bi bi-star"></i></a>
                        <a href="#" class="library-download"><i class="bi bi-download"></i></a>
                    </div>
                    <div class="library-content">
                        <a href="#"><img src=""></a>
                        <a href="#" class="library-user"><i class="bi bi-person-square"></i> Jerry</a>
                        <a href="#" class="library-like"><i class="bi bi-star"></i></a>
                        <a href="#" class="library-download"><i class="bi bi-download"></i></a>
                    </div>




                </div>
            </div>
        </div>
    </section>
</main>

<script src="~/Scripts/main.js"></script>
