@{
    ViewBag.Title = "Home Page";
}

@Styles.Render("~/Content/main")
@Styles.Render("~/Content/DarkMode")

<main id="content" style="margin-left: 50px; margin-top: 70px;">
    <img src="#" id="testImages" class="hidden">
    <!-- <div class="canvas-container" id="canvasContainer">
      <canvas id="canvas" class="canvas">

      </canvas>
    </div>
    <button onclick="myCanvas()">Click Me</button> -->
    

</main>

<script src="~/Scripts/main.js"></script>